@mixin device($type) {
  @if $type == 'mobile' {
    @media only screen and (max-width: 767px) {
      @content;
    }
  } @else if $type == 'tablet' {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $type == 'laptop' {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $type == 'desktop' {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $type == 'large-desktop' {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  } @else if $type == 'small-mobile' {
    @media only screen and (max-width: 360px) {
      @content;
    }
  }
}

@mixin font-size($mobile, $tablet, $laptop, $desktop, $large-desktop) {
  @include device('mobile') {
    font-size: $mobile;
    line-height: $mobile;
  }
  @include device('tablet') {
    font-size: $tablet;
    line-height: $tablet;
  }
  @include device('laptop') {
    font-size: $laptop;
    line-height: $laptop;
  }
  @include device('desktop') {
    font-size: $desktop;
    line-height: $desktop;
  }
  @include device('large-desktop') {
    font-size: $large-desktop;
    line-height: $large-desktop;
  }
}

@mixin align($horisontal, $vertical) {
  @if $horisontal == 'c' and  $vertical == 'c'{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @else if $horisontal == 'l' and  $vertical == 't'{
    top: 0;
    left: 0;
  }
  @else if $horisontal == 'c' and  $vertical == 't'{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @else if $horisontal == 'r' and  $vertical == 't'{
    top: 0;
    right: 0;
  }
  @else if $horisontal == 'l' and  $vertical == 'c'{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  @else if $horisontal == 'r' and  $vertical == 'c'{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  @else if $horisontal == 'l' and  $vertical == 'b'{
    bottom: 0;
    left: 0;
  }
  @else if $horisontal == 'c' and  $vertical == 'b'{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @else if $horisontal == 'r' and  $vertical == 'b'{
    bottom: 0;
    right: 0;
  }
}

@mixin backdown($var) {
  @include device('mobile') {
    #{$var}: $global-padding-mobile;
  }
  @include device('tablet') {
    #{$var}: $global-padding-tablet;
  }
  @include device('laptop') {
    #{$var}: $global-padding-laptop;
  }
  @include device('desktop') {
    #{$var}: $global-padding-desktop;
  }
  @include device('large-desktop') {
    #{$var}: $global-padding-large-desktop;
  }
}

@mixin responsive($value, $mobile, $tablet, $laptop, $desktop, $large-desktop) {
  @include device('mobile') {
    #{$value}: $mobile;
  }
  @include device('tablet') {
    #{$value}: $tablet;
  }
  @include device('laptop') {
    #{$value}: $laptop;
  }
  @include device('desktop') {
    #{$value}: $desktop;
  }
  @include device('large-desktop') {
    #{$value}: $large-desktop;
  }
}
