.contact-pop-up {
  z-index: 500;
  position: absolute;
  @include align(r,c);
  height: 100%;
  background-color: $white-color;
  @include responsive(width, 100%, 80%, 75%, 50%, 50%);
  @include responsive(right, -100%, -80%, -75%, -50%, -50%);

  transition: right .5s;
  animation-timing-function: ease-in;

  .contact-form {
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translateY(-50%);
    width: 66%;
    $width: 1000px;
    $base: #212121;
    $text: #212121;
    $invalid: red;
    $cubic: cubic-bezier(.64,.09,.08,1);

    h2 {
      position: relative;
      display: inline;
      text-align: right;
      float: right;
      font-family: Playfair Display;
      margin-bottom: 50px;
      color: $black-color;
      @include responsive(font-size, 48px, 48px, 48px, 36px, 48px);
      @include device('small-mobile') {
				font-size: 26px;
        margin-bottom: 20px;
			}
      @include device('mobile') {
        text-align: center;

        &:after {
          display: none;
        }
      }


      &:after {
        content: "";
        position: absolute;
        top: 58%;
        left: -50px;
        transform: translateY(-50%);
        width: 20px;
        height: 6px;
        background-color: $black-color;
      }
    }

    form {
      font-family: 'roboto', sans-serif;
      color: $text;

      input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
        font: inherit;
        transition: transform 0.3s ease-in-out,
        font-size 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
      }

      input,
      textarea {
        position: relative;
        font: inherit;
        text-align: right;
        width: 100%;
        display: block;
        border: none;
        padding: 20px 0 10px;
        margin-bottom: 15px;
        border-bottom: solid 1px $base;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
        background-position: 2*$width 0;
        background-size: $width 100%;
        background-repeat: no-repeat;
        transition: background 0.3s $cubic;
        resize: none;
        overflow: hidden;
        @include responsive(font-size, 14px, 14px, 14px, 14px, 18px);
        @include device('small-mobile') {
          font-size: 12px;
          margin-bottom: 5px;
        }
        @include device('mobile') {
          text-align: center;
        }

        &:focus::-webkit-input-placeholder {
          color: $base;
        }

        &:focus,
        &:valid {
          box-shadow: none;
          outline: none;
          background-position: 0 0;

          &::-webkit-input-placeholder {
            font-size: 0.7em;
            transform: translateY(-20px);
            visibility: visible !important;
            opacity: 1;
          }
        }
      }

      textarea {
        margin-bottom: 60px;
        @include device('small-mobile') {
          margin-bottom: 20px;
        }
      }

      input[type="email"] {
        background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
        background-position: 2*$width 0;
        background-repeat: no-repeat;
        transition: border-bottom 0.3s ease, background 0.3s ease;

        &:not([value=""]) {
          &::-webkit-input-placeholder {
            font-size: 0.8em;
            transform: translateY(-20px);
            visibility: visible !important;
            opacity: 1;
          }

          &:focus::-webkit-input-placeholder {
            color: $base;
          }

          &:focus:not(:valid)::-webkit-input-placeholder {
            color: $invalid;
          }
        }

        &:focus {
          background-position: 0 0;
          &:not(:valid):not([value=""]) {
          border-bottom: solid 1px $invalid;
          background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
          }
        }
        &:not(:focus):not(:valid):not([value=""]) {
          &::-webkit-input-placeholder {
            color: $invalid;
          }

          border-bottom: solid 1px $invalid;
          background-position: 0 0 ;
          background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);

          &~span.validation-text {
            visibility: visible;
            color: $invalid;
          }
        }
      }

      textarea {
        line-height: 120%;
      }

      button {
        font-family: 'roboto', sans-serif;
        border: none;
        background: $base;
        cursor: pointer;
        width: 50%;
        height: 40px;
        margin-left: 50%;
        color: $white-color;

        @include device('mobile') {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}

.contact-pop-up.open {
  right: 0;
}

.contact-info {
  $padding: 40px;

  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity .25s;

  @include device('desktop') {
    display: block;
    width: calc(50% - #{$global-padding-desktop});
    left: $global-padding-desktop;
  }
  @include device('large-desktop') {
    width: calc(50% - #{$global-padding-large-desktop});
    left: $global-padding-large-desktop;
  }

  .block-wrapper {
    position: absolute;
    @include align(c,c);
    text-align: center;

    p.title {
      font-weight: 100;
      @include device('desktop') {
        font-size: 14px;
        margin-bottom: 25px;
      }
      @include device('large-desktop') {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }

    a {
      color: $white-color;
      p {
        font-weight: 900;

        @include device('desktop') {
          font-size: 28px;
        }
        @include device('large-desktop') {
          font-size: 36px;
        }
      }
    }

    p.mail {
      margin-top: 10px;
      font-weight: 900;

      @include device('desktop') {
        font-size: 14px;
      }
      @include device('large-desktop') {
        font-size: 18px;
      }
    }
  }
}

.contact-info.show {
  opacity: 1;
}
