// Home Style

#index {

	.section.header {
		position: relative;

		video {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			height: 100%;
			min-width: 100%;
			background-image: url('../assets/video/video-bg-poster.jpg');
			background-size: cover;
			background-color: black; /* in case the video doesn't fit the whole page*/
			background-position: center center;
			object-fit: cover; /*cover video background */
			z-index: 3;
			transition: filter .5s;
		}

		// video.blur {
		// 	filter: blur(4px);
		// }

		video::-webkit-media-controls {
			display:none !important;
		}

		.video-darken {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 4;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0;
			transition: opacity .5s;
		}

		.video-darken.visible {
			opacity: .65;
		}

		.content {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 4;
			transform: translate3d(0,0,0) translateY(-50%);
			transition: opacity .25s;
			@include device('mobile') {
				margin-top: 30px;
			}

			.btn-projects {
				margin-top: 50px;
				@include device('mobile') {
					margin-top: 70px;
				}

				&:hover {
					@include device('tablet') {
						color: $black-color;
						background-color: $white-color;
					}
				}
			}

			h1 {
				font-family: Cocomat;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: .25em;
				text-align: center;
				@include responsive(font-size, 32px, 42px, 54px, 48px, 72px);
				@include responsive(line-height, 32px, 42px, 54px, 48px, 72px);
			}

			h2 {
				font-weight: 100;
				letter-spacing: .1em;
				text-align: center;
				margin-top: 30px;
				@include responsive(font-size, 14px, 18px, 21px, 20px, 26px);
				@include responsive(line-height, 14px, 18px, 21px, 20px, 26px);
				@include device('mobile') {
					margin-top: 20px;
				}
			}
		}

		.content.hide {
			opacity: 0;

			.btn-projects {
				pointer-events: none;
			}
		}

		.about-link,
		.contact-link {
			user-select: none;
			cursor: pointer;
			position: absolute;
			height: 800px;
			width: 100px;
			z-index: 6;

			.text {
				position: absolute;
				top: 50%;

				div {
					position: relative;
					height: 20px;
					width: 20px;
					font-size: 18px;
					font-weight: 300;
					margin: 15px 0;
					transition: margin .25s;
				}
			}

			&:hover {
				.text {
					div {
						margin: 40px 0;
					}
				}
			}
		}

		.about-link {
			@include align(l,c);
			@include responsive(margin-left, $global-padding-mobile, $global-padding-tablet, $global-padding-laptop, $global-padding-desktop, $global-padding-large-desktop);

			.text {
				left: 0;
				transform: translateY(-50%) rotate(180deg);

				div {
					transform: rotate(90deg);
				}
			}
		}

		.contact-link {
			@include align(r,c);
			@include responsive(margin-right, $global-padding-mobile, $global-padding-tablet, $global-padding-laptop, $global-padding-desktop, $global-padding-large-desktop);

			.text {
				right: 0;
				transform: translateY(-50%);

				div {
					transform: rotate(90deg);
				}
			}
		}

		.scrool-down {
			position: absolute;
			@include align(c,b);
			@include responsive(margin-bottom, $global-padding-mobile, $global-padding-tablet, $global-padding-laptop, $global-padding-desktop, $global-padding-large-desktop);
			z-index: 3;

			.line {
				width: 1px;
				height: 100px;
				background-color: $white-color;
			}

			.rectangle {
				position: absolute;
				@include align(c,t);
				width: 5px;
				height: 5px;
				background-color: $white-color;
			}
		}

		.scrool-down.hide {
			opacity: 0;
		}

		@keyframes ScroolDown {
			0% {
				margin-bottom: 5px;
			}
			50% {
				margin-bottom: -5px;
			}
			100% {
				margin-bottom: 5px;
			}
		}
	}
}
