// Home Style

#index {

	.section.header {
		position: relative;

		video {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			height: 100%;
			min-width: 100%;
			background-image: url('../assets/video/video-bg-poster.jpg');
			background-size: cover;
			background-color: black; /* in case the video doesn't fit the whole page*/
			background-position: center center;
			object-fit: cover; /*cover video background */
			z-index: 3;
			transition: filter .5s;
		}

		video::-webkit-media-controls {
			display:none !important;
		}

		.content {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 4;
			transform: translate3d(0,0,0) translateY(-50%);
			transition: opacity .25s;
			@include device('mobile') {
				margin-top: 30px;
			}

			h1 {
				font-family: Cocomat;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: .25em;
				text-align: center;
				@include responsive(font-size, 32px, 42px, 54px, 48px, 42px, 46px, 62px);
				@include responsive(line-height, 32px, 42px, 54px, 48px, 42px, 46px, 62px);
			}

			h2 {
				font-weight: 100;
				letter-spacing: .1em;
				text-align: center;
				margin-top: 30px;
				@include responsive(font-size, 14px, 18px, 21px, 20px, 16px, 18px, 24px);
				@include responsive(line-height, 14px, 18px, 21px, 20px, 16px, 18px, 24px);
			}
		}

		.logo-blur {
			position: absolute;
			height: 300%;
			//filter: blur(5px);
			opacity: .07;
			@include align(c,c);
		}

		.about-link,
		.contact-link {
			user-select: none;
			cursor: pointer;
			position: absolute;
			height: 60%;
			width: 200px;
			z-index: 6;
			//background-color: #555;

			.text {
				position: absolute;
				top: 50%;

				div {
					position: relative;
					height: 20px;
					width: 20px;
					@include responsive(font-size, 16px, 16px, 16px, 14px, 14px, 16px, 18px);
					font-weight: 300;
					@include responsive(margin-top, 10px, 10px, 10px, 8px, 5px, 8px, 10px);
					@include responsive(margin-bottom, 10px, 10px, 10px, 8px, 5px, 8px, 10px);
					transition: margin .25s;
				}
			}

			&:hover {
				.text {
					div {
						@include responsive(margin-top, 40px, 40px, 40px, 40px, 20px, 30px, 40px);
						@include responsive(margin-bottom, 40px, 40px, 40px, 40px, 20px, 30px, 40px);
					}
				}
			}
		}

		.about-link {
			@include align(l,c);

			.text {
				@include responsive(left, $pad--s-mob, $pad--mob, $pad--tab, $pad--lap, $pad--des, $pad--l-des, $pad--f-hd);
				transform: translateY(-50%) rotate(180deg);

				div {
					transform: rotate(90deg);
				}
			}
		}

		.contact-link {
			@include align(r,c);

			.text {
				@include responsive(right, $pad--s-mob, $pad--mob, $pad--tab, $pad--lap, $pad--des, $pad--l-des, $pad--f-hd);
				transform: translateY(-50%);

				div {
					transform: rotate(90deg);
				}
			}
		}

		.scrool-down {
			position: absolute;
			@include align(c,b);
			@include responsive(margin-bottom, $pad--s-mob, $pad--mob, $pad--tab, $pad--lap, $pad--des, $pad--l-des, $pad--f-hd);
			z-index: 4;

			.line {
				width: 1px;
				background-color: $yellow;
				animation: ScroolDownLine 2s infinite ease-in-out;
			}

			.rectangle {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: $rectangle-size;
				height: $rectangle-size;
				background-color: $yellow;
				animation: ScroolDownRectangle 2s infinite ease-in-out;
			}
		}

		.scrool-down.hide {
			opacity: 0;
		}

		@keyframes ScroolDownLine {
			0% {
				height: 100px;
				margin-bottom: 20px;
			}
			30% {
				height: 60px;
				margin-bottom: 0;
			}
			100% {
				height: 100px;
				margin-bottom: 20px;
			}
		}

		@keyframes ScroolDownRectangle {
			0% {
				top: 10%;
			}
			30% {
				top: calc(100% - #{$rectangle-size});
			}
			100% {
				top: 10%;
			}
		}
	}
}
