// Navigation style

nav.border-nav {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  user-select: none;

  @include indentation('margin');

  @include device('small-mobile') {
    width: calc(100% - (#{$pad--s-mob} * 2));
    height: calc(100% - (#{$pad--s-mob} * 2));
  }
  @include device('mobile') {
    width: calc(100% - (#{$pad--mob} * 2));
    height: calc(100% - (#{$pad--mob} * 2));
  }
  @include device('tablet') {
    width: calc(100% - (#{$pad--tab} * 2));
    height: calc(100% - (#{$pad--tab} * 2));
  }
  @include device('laptop') {
    width: calc(100% - (#{$pad--lap} * 2));
    height: calc(100% - (#{$pad--lap} * 2));
  }
  @include device('desktop') {
    width: calc(100% - (#{$pad--des} * 2));
    height: calc(100% - (#{$pad--des} * 2));
  }
  @include device('large-desktop') {
    width: calc(100% - (#{$pad--l-des} * 2));
    height: calc(100% - (#{$pad--l-des} * 2));
  }
  @include device('full-hd') {
    width: calc(100% - (#{$pad--f-hd} * 2));
    height: calc(100% - (#{$pad--f-hd} * 2));
  }


  .logo {
    position: absolute;
    @include align(l, t);

    a {
      pointer-events: auto;

      img {
        position: absolute;
        width: auto;
        color: #fff;
        @include responsive(height, 36px, 36px, 40px, 50px, 40px, 50px, 60px);

        transition: opacity .5s;
      }

      img.white.hide {
        opacity: 0;
      }

      img.black.hide {
        opacity: 0;
      }
    }
  }

  .hamburger {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    @include align(r, t);

    .line {
      height: 3px;
      margin-bottom: 6px;
      background-color: $white;
      transition: all .25s;
      @include responsive(width, 36px, 36px, 40px, 40px, 40px, 45px, 45px);
      @include responsive(margin-bottom, 7px, 5px, 5px, 5px, 5px, 6px, 6px);
      @include responsive(height, 2px, 3px, 3px, 3px, 3px, 3px, 3px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.open {
      .line {
        background-color: $black;
      }

      .line:nth-child(1) {
        transform: translateY(9.25px) rotate(45deg);
        @include device('tablet') {
          transform: translateY(8.25px) rotate(45deg);
        }
      }

      .line:nth-child(2) {
        transform: scale(0);
      }

      .line:nth-child(3) {
        transform: translateY(-9.25px) rotate(-45deg);
        @include device('tablet') {
          transform: translateY(-8.25px) rotate(-45deg);
        }
      }
    }
  }

  .social-media {
    position: absolute;
    @include align(l, b);
    @include device('mobile') {
      //display: none;
    }

    a {
      pointer-events: auto;
      color: $white;
      transition: color .5s;

      p {
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-right: 20px;
        font-weight: 300;
        @include responsive(font-size, 10px, 12px, 18px, 12px, 12px, 12px, 16px);
      }

      &:hover {
        color: $yellow;
      }
    }

    &.black {
      a {
        color: $black;
      }
    }
  }

  .phone {
    position: absolute;
    @include align(r, b);
    @include device('mobile') {
      //display: none;
    }

    a {
      font-family: "Montserrat";
      pointer-events: auto;
      color: $white;
      transition: color .5s;

      p {
        font-weight: 300;
        padding: 0;
        margin: 0;
        @include responsive(font-size, 10px, 12px, 18px, 12px, 12px, 12px, 16px);
      }

      &:hover {
        color: $yellow;
      }
    }

    &.black {
      a {
        color: $black;
      }
    }
  }
}
