// Common

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
}

body {
  font-family: "Raleway";
  color: #fff;
}

a {
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.btn {
  display: block;
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  color: $white-color;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 38px;
  border: 2px solid $white-color;
  text-align: center;

  transition: all .25s;
  animation-timing-function: ease-in-out;
}

a.btn-link {
  display: block;
  margin: 0 auto;
  width: 200px;

  .btn {
    width: 200px;
    height: 40px;
    color: $white-color;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 38px;
    border: 2px solid $white-color;
    text-align: center;

    transition: all .25s;
    animation-timing-function: ease-in-out;
  }
}
