// Variable

// Color

$white-color: #fff;
$black-color: #212121;
$blue-color: #451b59;
$yellow-color: #ffeb3b;

// Gradient color

$blue-light: #091443;
$blue-dark: #05102f;

$global-padding-mobile: 25px;
$global-padding-tablet: 30px;
$global-padding-laptop: 40px;
$global-padding-desktop: 45px;
$global-padding-large-desktop: 80px;
