// Variable

// Color

$white: #f7f7f7;
$black: #212121;
$blue: #451b59;
$yellow: #faeb50;

// Global padding for border

$pad--s-mob: 10px;
$pad--mob: 25px;
$pad--tab: 30px;
$pad--lap: 40px;
$pad--des: 45px;
$pad--l-des: 60px;
$pad--f-hd: 80px;

//

$rectangle-size: 8px;
