.about-pop-up
	.content
		h2 O Студии
		p В джунглях веб разработки много людей ищут что-то оригинальное, не такое как у всех.
			|Стремясь вывести продукт на рынок многие уходят в мейнстрим и не думают как быть ближе к аудитории.
			|Мы студия которая не просто создает красивые веб ресурсы, Мы живем этим. Каждый день
			|воплощаем в жизнь новые идеи, каждый сотрудник как художник на холсте создает первые облики Вашего
			|будущего проекта. Свежесть в дизайне, новые тенденции, всегда оригинальные идеи и полное погружение
			|в Вашу сферу и продукт.
			|Art Grove studio - работать с лучшими, значит быть лучшим.
.about-info
	.block-wrapper
		.block.project
			p.title Проектов
			p.number 15
		.block.create
			p.title Основана
			p.number 2015
		.block.team
			p.title Команда
			p.number 10