.contact-pop-up
	.contact-form
		h2 Контакты
		form(action="contact.php", method="get")
			//- Hidden Required Fields
			input(type="hidden", name="project_name", value="Art Grove Studio")
			input(type="hidden", name="admin_email", value="artgrovestudio@gmail.com")
			input(type="hidden", name="form_subject", value="Сообщение с artgrovestudio.com")
			//- END Hidden Required Fields
			input(type="text", name="Имя", placeholder="Имя", value="", required)
			input(type="email", name="Email", placeholder="Email", onblur="this.setAttribute('value', this.value);" value="" required)
			textarea(placeholder="Сообщение", name="Сообщение", rows="5", required)
			button(type="submit") Отправить
.contact-info
	.block-wrapper
		p.title Телефон/Email
		a(href='tel:+380975546016')
			p 097 554 60 16
		a(href='tel:+380638158566')
			p 063 815 85 66
		p.mail art.grove.studio@gmail.com