nav.menu
  ul
    a(href="#home")
      li Главная
    a(href="#home")
      li.about О Студии
    a(href="https://www.behance.net/art_grove_studio")
      li Проекты
    a(href="#home")
      li.contact Контакты