nav.border-nav
  .logo
    a(href='index.html')
      img.black.hide(src="assets/img/logo_black.png")
      img.white(src="assets/img/logo_white.png")
  .hamburger
    .line.line-top
    .line.line-center
    .line.line-bottom
  .social-media
    a(href='https://twitter.com/artgrovestudio')
      p twitter
    a(href='https://www.instagram.com/art.grove.studio')
      p instagram
  .phone
    a(href='tel:+380975546016')
      p +380975546016
